body {
  font-family: "Roboto Condensed" sans-serif;
}

.color {
  color: #f9ab00;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
/*------menu link----*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
/* .nav-brand {
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  text-decoration: none;
} */

/* .logo {
  width: 16rem;
} */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.header-wrapper {
  position: relative;
  background: url(solidbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.about-me {
  position: relative;
  background: url(solidbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

@media (max-width: 768px) {
  .about-me {
    height: 120vh;
  }
}
.projects {
  position: relative;
  background: url(solidbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 180vh;
}

@media (max-width: 768px) {
  .projects {
    position: relative;
    background: url(solidbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 270vh;
  }
}
.main-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.know-me {
  border: 1px solid var(--primary-orange);
  border-radius: 1;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  text-transform: uppercase;
  color: var(--primary-white);
  margin: 1rem;
}

.know-me:hover {
  text-decoration: none;
  color: black;
  background-color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

nav {
  z-index: 2;
}
@media (max-width: 768) {
  .particles-canvas {
    display: none;
  }
}

.about-me {
  background-color: whitesmoke;
}
.mono-font {
  font-family: "Roboto Mono", monospace;
}

.alink {
  text-decoration: none;
  color: var(--primary-orange);
}

.contact {
  position: relative;
  background: url(solidbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.footer {
  position: relative;
  background: url(solidbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 10vh;
}

ul.myul {
  list-style-type: square;
}
